PAYLOAD_SECRET=development_secret_do_not_use_in_production
DATABASE_URI=

# Supabase Storage S3 Configuration
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=eu-west-1
S3_ENDPOINT=https://[PROJECT_ID].supabase.co/storage/v1/s3
